<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='moskito.css') }}">
  <title>Smart Moskito</title>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Smart Moskito</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <ol class="breadcrumb">
    {% if album.parent %}
    <li>
      <a href="{{ url_for('display_album', title=album.parent.title) }}">
        {{ album.parent.title }}
      </a>
    </li>
    {% endif %}
    <li>{{ album.title }}</li>
  </ol>
  <div class="container">
    {% if album.albums %}
    <div class="row">
      {% for child_album in album.albums %}
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <a href="{{ url_for('display_album', title=child_album.title) }}">
            <img src="{{ url_for('static', filename='img/album-maker-icon.png') }}" alt="{{ child_album.title }}" />
          </a>
          <div class="caption">
            <h4>{{ child_album.title }}</h4>
            <p>
              <a href="#" class="btn btn-primary" role="button">Display</a>
              <a href="#" class="btn btn-default" role="button">Download</a>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <div class="row">
      {% for picture in album.pictures %}
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <a href="{{ url_for('display_picture', album_title=album.title, picture_title=picture.title) }}">
            <img src="{{ url_for('display_picture', album_title=album.title, picture_title=picture.title) }}" />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div><!-- /.container -->
  <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/jquery-colorbox/jquery.colorbox-min.js') }}"></script>
</body>
</html>
