<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/jquery-colorbox/example1/colorbox.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='moskito.css') }}">
  <title>Smart Moskito</title>
</head>
<body>
  {% block body %}{% endblock %}
  <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/jquery-colorbox/jquery.colorbox-min.js') }}"></script>
  <script src="{{ url_for('static', filename='moskito.js') }}"></script>
</body>
</html>
